.follows-page[data-v-50f0402c] {
  display: flex;
  height: 100%;
  flex-direction: column
}
.follows-page .content-wrapper[data-v-50f0402c] {
  flex: 1 1 0%;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column
}
.follows-page .scrollbar-container[data-v-50f0402c] {
  height: 100%
}
.follow-grid[data-v-50f0402c] {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}
.follow-item[data-v-50f0402c] {
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms
}
.follow-item[data-v-50f0402c]:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.follow-item-inner[data-v-50f0402c] {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity, 1))
}
.follow-item-inner[data-v-50f0402c]:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity, 1))
}
.follow-item-inner[data-v-50f0402c] {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms
}
.follow-item-inner[data-v-50f0402c]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(233 236 239 / var(--tw-bg-opacity, 1))
}
.follow-item-inner[data-v-50f0402c]:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(45 45 45 / var(--tw-bg-opacity, 1))
}
.follow-item .follow-avatar[data-v-50f0402c] {
  position: relative
}
.follow-item .follow-avatar .artist-badge[data-v-50f0402c] {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info[data-v-50f0402c] {
  margin-top: 0.75rem;
  width: 100%;
  text-align: center
}
.follow-item .follow-info .follow-name[data-v-50f0402c] {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-name[data-v-50f0402c]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-name[data-v-50f0402c] {
  display: flex;
  align-items: center;
  justify-content: center
}
.follow-item .follow-info .follow-name.is-artist[data-v-50f0402c] {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-name .artist-icon[data-v-50f0402c] {
  margin-left: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-signature[data-v-50f0402c] {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-signature[data-v-50f0402c]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}
.follow-item .follow-info .follow-signature[data-v-50f0402c] {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  max-height: 2.4em
}
.empty-follow[data-v-50f0402c] {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}
.empty-follow[data-v-50f0402c]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}
.load-more-btn[data-v-50f0402c] {
  margin-top: 1rem;
  margin-bottom: 2rem
}
.loading-more[data-v-50f0402c] {
  margin-top: 1rem;
  margin-bottom: 1rem
}
.page-title[data-v-50f0402c] {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}
.page-title[data-v-50f0402c]:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}